<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <form class="form-horizontal" method="post" action="/preapproval">
        <table>
            <tr>
                <td>EndingDate <input style="visibility:visible;" class="form-control" type="date" name="endingDate" /></td>
            </tr>
            <% for (var field in preapproval){ %>
                <tr>
                <td><%= preapproval[field] %></td>
                <td><input style="visibility:visible;" class="form-control" type="text" name="<%= preapproval[field] %>" /></td>
                </tr>
            <% } %>
        </table>
        <input style="visibility:visible;" class="button body" type="submit" value="Aceptar" />
    </form>
</body>
</html>
